* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(120deg, #000, #000, #000);
    background-size: 400% 400%;
    animation: gradientMove 20s ease infinite;
    color: white;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    transition: background 1.2s ease;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#viewport {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* padding-inline: 20px; */
}

#card {
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    transition: transform 0.35s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    /* padding: 10px; */
    text-align: center;
    /* margin: 0; */
}

#langPanel {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.95);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    gap: 20px;
}

.lang-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.lang-list label {
    padding: 10px;
    background: #fefefe;
    color: #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 1s ease;
}

#langPanel svg {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.lang-list label:active {
    transform: scale(.9);
}

button {
    margin-top: 12px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #fefefe;
    font-size: 16px;
    cursor: pointer;
}

.button-hook {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 10px;
    margin: 0;
    border-radius: 25px 0 0 0;
    border: none;
    background: transparent;
    overflow: hidden;
    outline: none;
}

.subMain {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    /* place-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    border-radius: 5px;
}

/* .cardMain {
    height: 100%;
} */

.cardMainInfo {
    width: 100%;
    /* height: 30vh; */
    /* position: fixed; */
    /* visibility: hidden; */
    /* bottom: 0; */
}

svg {
    width: 24px;
    height: 24px;
    fill: #fefefe;
}

.cls-3 {
    fill: url(#a);
}

.cls-4 {
    fill: #fc9502;
}

.cls-5 {
    fill: #fce202;
}

.music-controls {
    /* position: absolute; */
    /* bottom: 0;
    left: 0;
    right: 0; */
    align-items: center;
    padding: 15px 30px;
    overflow: hidden;
    line-height: 1.4;
}

#play svg,
#pause svg {
    height: 50px;
    width: 50px;
}

audio#player {
    visibility: hidden;
    display: none;
}


.Mctrl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.music-timer {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #fefefe;
    font-weight: 300
}

#title {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.title-wrap {
    padding: 15px 30px;
    line-height: 1.5;
}

input#seek {
    width: 100%;
}

.marquee-track {
    display: inline-flex;
}

.marquee.animate .marquee-track {
    animation: marquee 10s linear infinite;
    animation-delay: 1s;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

#artist {
    font-size: 14px;
    font-weight: 400;
}

/* player seek bar  */
input[type="range"] {
    font-size: 1.5rem;
    width: 12.5em;
}

input[type="range"] {
    color: #ffffff;
    --thumb-height: 10px;
    --track-height: 0.125em;
    --track-color: rgba(250, 250, 250, 0.2);
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}

input[type="range"] {
    position: relative;
    background: #fff0;
    overflow: hidden;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further));
}

input[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}


input[type="range"]::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
    cursor: grabbing;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
    filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
    cursor: not-allowed;
}

.cardMain {
    width: 100%;
    padding: 20px;
    place-items: center;
}